.nav
{
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    width: 80%;
    margin: auto;

}

.header {
    display:flex;
    justify-content: center;
    justify-content: space-around;
    width : 25%;
    margin:auto;
}

#TitreSite {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: xx-large;
    padding-top: 25px;
}

.moment_recette_ligne {
    display: flex;
    justify-content: space-between;
}

.moment_recette_titre {
    color : green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.moment_recette_pic {
    border-radius: 10em;
}

.titre {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'; sans-serif;
    font-size: x-large;
    color : red;
    text-align: center;
}

.presentation {
    width : 30cm;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'; sans-serif ;
}

.moment {
    width : 90%;
    margin: auto;
}

.barreHorizontale {
    height:2px;
    width:90%;
    background-color: red;
    margin: auto;
}